*{ font-family: 'Roboto', sans-serif;}
    

.intro{
    background-image: url(../assets/backgrounds/h_img.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    
}
img#logo{
    margin-bottom: 8px;
    padding-top: 15% ;
    background-size: contain;
    background-repeat: no-repeat;
}
#intro-heading, #about-heading, #service-heading{
       padding: 20px;
       font-weight: 400;
}
#mouse{
    margin-top: 10%;
    margin-bottom: 25px;
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(-40px);
    }
}
#about-us{
    text-align: center;
    padding: padding 10%;
}
#service{
    background-image: url(../assets/backgrounds/s_image.jpg);
}

#service-content{
    text-align: center;
    color: white;
    padding: 100px;
    margin: 70px;
    border:40px;
}
#what-we-do{
    text-align: center;
}