*{ font-family: 'Roboto', sans-serif;}
    

.intro{
    background-image: url(../assets/backgrounds/h_img.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    
}
img#logo{
    margin-bottom: 8px;
    padding-top: 15% ;
    background-size: contain;
    background-repeat: no-repeat;
}
#intro-heading, #about-heading, #service-heading, #portfolio-heading, #contact-heading{
       padding: 20px;
       font-weight: 900;
       text-align: center;
}
#mouse{
    margin-top: 10%;
    margin-bottom: 25px;
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(-40px);
    }
}
#about-us{
    text-align: center;
    padding: padding 10%;
}
#service{
    background-image: url(../assets/backgrounds/s_image.jpg);
}

#service-content{
    text-align: center;
    color: white;
    padding: 100px;
    margin: 70px;
    border:40px;
}
#what-we-do, #wwd-heading{
    text-align: center;
    padding-bottom: 30px;
}
#wwd-design, #wwd-development, #wwd-management{
    display: none;
}
#portfolio{
    display: flex;
    margin-right: 12%;
    margin-left: 12%;
    flex-wrap: wrap;
    align-items: center;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    
}
#textHover1, #textHover2, #textHover3, #textHover4, #textHover5, #textHover6, #textHover7, #textHover8{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    left: 50%;
    top: 50%;
    background-color:#ffffff;
    opacity: 0.5;
    color:brown;
    font-size:x-large;
    transform: translate(-50%,-50%);
    padding-top: 30%;
    padding-left: 20%;
}

#work4, #work3, #work2, #work1,#work5,#work6,#work7,#work8{
    position: relative;
}
.contactUs{
    background-image: url(/assets/backgrounds/c_image.jpg);
    
}
.form-control {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
::placeholder{
    color: white !important;
}
.button-holder{
    text-align: center;
}

.contactUs-content{
    align-items: center;
    margin: 50px;
    padding: 50px;
    border: 50px;
}
.footer{
    text-align: center;
}